<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="landing-container">
        <div class="logo-container">
            <img src="C:\xampp\htdocs\Projects\CSC498X-FinalProject-Fall2022\linknet-app\src\assets\final-logo.png" alt="">
        </div>
        <div class="text-container">
            <p>want somewhere to game at ?</p>
        </div>
        <div class="text-container">
            <p>dont feel like playing alone ?</p>
        </div>
        <div class="btn-container">
          <div [routerLink] = "['/signup']" class = "btn-style" id="btn">Connect</div>  
        </div>   
    </div>
</div>
</ion-content>
