<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="landing-container">
        <div class="logo-container">
            <img src="" alt="">
        </div>
        <div class="text-container">
            <p>want somewhere to game at ?</p>
        </div>
        <div class="text-container">
            <p>dont feel like playing alone ?</p>
        </div>
        <div class="btn-container">
            <a>
                <div class = "btn-style" id="btn">Connect</div>
            </a>
        </div>   
    </div>
</div>
</ion-content>
